* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;

}
body{
    text-align: right;
    margin-left: 300px;
    justify-content: right;
    /* background-color: #45a049; */
}
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
    text-align: right;
    font-size: 20px;
    background-color: #F5DFDF;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
    text-align: right;
    font-size: 20px;
    background-color: #F5DFDF;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: rgb(37, 116, 161);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    /* background-color: #4A7339; */
    /* padding: 20px; */
    margin-right: 0;
    /* float: right; */
}


.col-25 {
    float: right;
    width: 25%;
    margin-top: 6px;
    font-size: 30px;
    font-weight: bold;
    color: #F5DFDF;
}

.col-75 {
    float: right;
    width: 75%;
    margin-top: 6px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
