* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body {
   
    font-family: montserrat;
    display: block;
    color: #F5DFDF;
    background-size: cover;

}

footer {
    display: block;
    height: 500%;
    background-color: #D9D9D9;
    color: black;
    margin-top: 19%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    
}

footer p {
    text-align: right;
    margin-right: 10px;
}
footer i {
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    color: #090909c5;
}

#meatVideo{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    
}
.bg-image {
    /* The image used */
    background-image: url("img/homeBackGround.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }